<% provide(:title, 'Edit User') %>
<div class="container well col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">

<div class="row">
	<div class="col-lg-10 col-lg-offset-1">
		<h1>Update Profile</h1>

		<div class="form-group col-sm-offset-2">
			<%= gravatar_for @user %>
	    	<button class="btn btn-large btn-default"><%= link_to "change", "http://gravatar.com/emails", :target => "_blank"%></button>
    	</div>

	    <%= form_for(@user, :html => { :class => "form-horizontal" }) do |f| %>
	    	<%= render 'fields', f: f %>
	    	<div class="form-group">
	      		<div class="col-sm-offset-2 col-sm-10">
	      			<%= f.submit "Save Changes", class: "btn btn-large btn-primary" %> <%= link_to 'Back', :back, :class => "pull-right" %>
	      		</div>
	      	</div>
	    <% end %>
	</div>
</div>
</div>
