<% provide(:title, @user.name) %>
<div class="container well col-lg-12">

    <div class="row col-lg-4 col-md-4 col-sm-4 col-xs-12"> <!-- Sidebar -->
        <h1>
          <%= gravatar_for @user %>
          <%= @user.name %>
        </h1>
        <h2><small><%= @user.email %></small></h2>
        <p class="pull-left"><%= link_to "Edit", edit_user_path %></p>
    </div>

  <div class="row col-lg-8 col-md-8 col-sm-8 col-xs-12"> <!-- Main Content -->
    <% if @user.microposts.any? %>
      <h3>Games Played (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>

</div>