<!DOCTYPE html>
<html>
<head>
  <title>GameDB</title>
  <link rel="shortcut icon" href="http://i.imgur.com/8tkgUa1.png"/>
  <link rel="apple-touch-icon"
      sizes="144x144"
      href="http://i.imgur.com/8tkgUa1.png">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <script type='text/javascript' src="http://imsky.github.io/holder/holder.js"></script>
</head>


<body>
  <div id="wrap">
    <%= render 'layouts/navbar' %>
    <div class="container">
  	<% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
    <%= yield %>
    <%= debug(params) if Rails.env.development? %>
    </div>
  </div>
</body>
  <%= render 'layouts/footer' %>
</html>